html
  head
    title 학생 등록
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // ===============================================================================================
    script(src='vendor/jquery/jquery-3.2.1.min.js')
    // ===============================================================================================
    link(rel='icon', type='image/png', href='images/icons/favicon.ico')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/bootstrap/css/bootstrap.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/animate/animate.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/css-hamburgers/hamburgers.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/select2/select2.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='css/util.css')
    link(rel='stylesheet', type='text/css', href='css/common.css')
    link(rel='stylesheet', type='text/css', href='css/admin.css')
    // ===============================================================================================
  body
    .limiter
      .container-login100
        .wrap-login100
          include menu_admin.pug
          .right-view
            form(action='insertStudent', method='post')
              h4 학생 등록
              hr
              table
                tr
                  td 수강 과목
                  td
                    select(name='sub_name')
                      each val,index in subject_result
                        option(value=val.sub_name) #{val.sub_name}
                tr
                  td 학생 이름
                  td
                    input(type='text', name='stu_name', placeholder='성+이름')
                tr
                  td 학생 번호
                  td
                    input(type='text', name='stu_number', placeholder='학번')
                tr
                  td 학생 비밀번호
                  td
                    input(type='text', name='stu_password', value='1111', readonly='readOnly', placeholder='입력 해주세요.')
                tr
                  td 학생 생년월일
                  td
                    input(type='date', name='stu_birthday')
                tr
                  td 학생 주소
                  td
                    input(type='text', name='stu_addr', placeholder='주거지역 주소')
                tr
                  td 학생 전화번호
                  td
                    input(type='text', name='phone1', maxlength='3', size='2')
                    |  - 
                    input(type='text', name='phone2', maxlength='4', size='3')
                    |  - 
                    input(type='text', name='phone3', maxlength='4', size='3')
                tr
                  td(colspan='2')
                    input(type='submit', value='등록하기')
    // ===============================================================================================
    script(src='vendor/jquery/jquery-3.2.1.min.js')
    // ===============================================================================================
    script(src='vendor/bootstrap/js/popper.js')
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    // ===============================================================================================
    script(src='vendor/select2/select2.min.js')
    // ===============================================================================================
    script(src='vendor/tilt/tilt.jquery.min.js')
    script.
      $(".m1:nth-child(2) .m2").hide();
      $('.js-tilt').tilt({
      scale: 1.1
      })
    // ===============================================================================================
    script(src='js/admin.js')
